.c-login-panel {
  width: 100%;
  max-width: 600px;
  flex: 1 0;
  display: flex;
  flex-flow: column;
  justify-content: center;

  &-form {
    background:#80bdff;
    padding: 20px;
  }

  &__submit-btn {
    display: flex;
    justify-content: center;
  }

  &__error-message {
    color: red;
    display: flex;
    justify-content: center;
  }
}
